@page "/dashboard"
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<section>
    <h1>
        Dashboard
    </h1>
    <article>
        <p>
            You're logged in!
        </p>
    </article>
</section>
