@page "/"

<PageTitle>Home page</PageTitle>

<section>
    <article>
        <h1>
           start learninging coding 
        </h1>
        <p>
            learn free .net .
        </p>
        <p>
            View the <a href="" ><strong>Free coding lessons →</strong></a>
        </p>
    </article>
</section>
